<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.customer.CustomerListActivity" />
        <activity android:name=".ui.customer.CustomerFormActivity" />
        <activity android:name=".ui.customer.CustomerDetailActivity" />
        <activity android:name=".ui.invoice.InvoiceListActivity" />
        <activity android:name=".ui.invoice.InvoiceFormActivity" />
        <activity android:name=".ui.invoice.InvoiceDetailActivity" />
        <activity android:name=".ui.payment.PaymentListActivity" />
        <activity android:name=".ui.payment.PaymentFormActivity" />
        <activity android:name=".ui.report.ReportMenuActivity" />
        <activity android:name=".ui.report.SalesReportActivity" />
        <activity android:name=".ui.report.PaymentReportActivity" />
        <activity android:name=".ui.report.LedgerReportActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
